*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}
body{
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction:column;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    font-family: 'Open Sans', sans-serif;
}  
.jumbotron {
    background-color: transparent;
    margin: 0;
    padding: 10px;
}
.jumbotron h1 {
    font-size: 2em;
    font-weight: bold;
}
.jumbotron h1,
.jumbotron p {
    text-align: center;
}
.jumbotron p {
    font-size: 1em;
}
#googleMap {
    width: 80%;
    height: 400px;
    margin: 20px auto;
}
i {
    padding-top: 10px;
    padding-right: 10px;
}
.group {
    padding-top: 10px;
    padding-left: 4px;
}
.directions-icon {
    font-size: xx-large;
}