@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}
body{
    
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction:column;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    font-family: 'Open Sans', sans-serif;
}  
.jumbotron {
    background-color: transparent;
    margin: 0;
    padding: 10px;
}
.jumbotron h1 {
    font-size: 2em;
    font-weight: bold;
}
.jumbotron h1,
.jumbotron p {
    text-align: center;
}
.jumbotron p {
    font-size: 1em;
}
#googleMap {
    width: 80%;
    height: 600px;
    width: 800px;
    margin: 20px auto;
    border: #292929;
    border-radius: 20px;
}
i {
    padding-top: 10px;
    padding-right: 10px;
}
.group {
    padding-top: 10px;
    padding-left: 4px;
}
.directions-icon {
    font-size: xx-large;
}

.container{
    padding: 20px;
    z-index: 12;
    max-width: fit-content;
    width: 100%;
    background: #292929;
    border-radius: 12px;
    margin: 0 20px;
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
  }
  .containerWrap{
    padding: 20px;
    z-index: 12;
    max-width: 850px;
    width: 100%;
    background: #292929;
    border-radius: 12px;
    margin: 0 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .title{
    text-align: center;
   font-size: 25px;
   font-weight: 500;
   position: relative;
   
 }
  /* .title::before{
   content: "";
   position: absolute;
   left: 0;
   bottom: -10px;
   height: 3px;
   width: 100%;
   border-radius: 110px;
   background: linear-gradient(135deg, #feffec, #B39330);
 } */